$bgColor: #373737;
$bgTransparent: #696969;
$white: #fff;
$secondary: #f5f5f5;

.mainWrapper {
  background-color: $bgColor;
  margin: 50px auto auto;
  width:800px;
  height:600px;
}
.sliderWrapper{
  display:flex;
  justify-content: space-between;
}
.slider{
  position:absolute;
  margin:0 50px 0 50px;
  width: 700px;
  display:flex;
  background-color:$white;
  overflow: hidden;
}
.cardBox{
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: space-between;
  margin-left:-700px;
  transition: 0.5s;
}
.card{
  width:100%;
  height:400px;
  background-color: $secondary;
}
.cardImage{
  width:700px;
  height:400px;
}
.buttonBox{
  width:50px;
  height:400px;
  justify-content: center;
  font-size:24px;
  color:$white;
  background-color: #474747;
}
.switchButton {
  background-color: darkgrey;
  color: $white;
  border:  0;
  padding: 10px;
  height: 100%;
}
.radioButtonBox {
  display:flex;
  justify-content: center;
}
.radioButton {
  width:15px;
  height: 15px;
  margin: 20px;
}
.radioButton:checked {
  border:1px solid $white;
  color:$white;
}
*{
  margin: 0;
  padding: 0;
}
body {
  background-color: $bgColor;
}